<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Supplier Form</title>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <h1>Supplier Form</h1>
    <form action="#" th:action="@{/supplier/save}" th:object="${supplier}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label>Name</label>
            <input th:field="*{name}" type="text" class="form-control" placeholder="Enter name">
            <small class="form-text text-muted">不能为空</small>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input th:field="*{phone}" type="text" class="form-control" placeholder="Enter name">
            <small class="form-text text-muted">不能为空</small>
        </div>

        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
</body>
</html>