<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cros Test</title>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container" id="app">
    <h1>{{title}}</h1>
    Cros massage:{{cros_msg}}

    <a v-on:click="loadData()" class="btn btn-primary">点击获取</a>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'Hello Vue! This is cros test',
            cros_msg : "this is default message"
        },
        methods: {
            loadData: function () {
                console.log('mounted');
                var self = this;
                axios.get('http://localhost:8081/hello/test2?name=tang_with_cros')
                    .then(function (response) {
                        if (response.status == 200) {
                            self.cros_msg = response.data.name;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>